* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #38195a;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  max-width: 150px;
  height: 60px;
  width: 60px;
  padding-left: 10px;
  transform: rotate(15deg);
}

.navbar {
  flex-grow: 1;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

.navbar a:hover {
  background-color: #d91895;
}




h1 {
  display: inline-block;
  width: 100%;
  height: 2em;
  text-align: center;
  background-color: #ffb633;
  color: #38195a;
  margin-bottom: 15px;
  animation-name: animacion;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(1, 0.82, 0.165, 1);
  text-decoration: underline;
}



h2 {
  display: inline-block;
  width: 100%;
  height: 2em;
  ;
  text-align: center;
  color: #d9a404;
  background-color: #38195a;
  text-decoration: underline;
  animation-name: animacionh2;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(1, 0.82, 0.165, 1)
}

h3 {
  display: inline
}

h4 {
  color: #38195a
}

iframe {
  width: 33.3%;
  height: 315px;
}

dl {
  display: inline-block;
  margin-bottom: 100px;
}

.secciones {
  display: inline-block;
  width: 33%;
  height: 20px;
  background-color: #38195a;
  text-align: center;
  color: #ffb633;
  text-decoration: none;
  margin-bottom: 20px
}


p {
  margin-bottom: 10px
}

.color {
  background-color: #f5f5f5
}

input {
  border-color: #38195a;
}

.profes {
  display: inline-block;
  width: 100%;
  height: 300px;
  text-align: center;
}

.profe {
  display: grid;
  place-items: center;
  text-decoration: none;
  height: 100px;
  background-color: #d9a404;
  color: #38195a;
  border: 10px double #38195a;
}


.dale {
  display: flex;
  position: fixed;
  bottom: 1px;
  right: 1px;
}

#botoninicio {
  display: flex;
  ;
  height: 32px;
  text-decoration: none;
  justify-content: center
}



@keyframes animacion {
  from {
    background-color: #38195a;
  }

  to {
    background-color: #ffb633;
  }
}




@keyframes animacionh2 {
  from {
    background-color: #ffb633;
  }

  to {
    background-color: #38195a;
  }
}

@keyframes animacionlogo {
  from {
    rotate: -50deg;
  }

  to {
    rotate: 0deg;
  }
}





.logo img {
  animation-name: animacionlogo;
  animation-duration: 1s;
  max-width: 150px;
  height: 60px;
  width: 60px;
  padding-left: 10px;
  transform: rotate(20deg);
}


footer {
  text-align: center;
  padding: 3vh;
  background-color: #ffb633;
  font-size: 2.5vh
}

footer h4 {
  margin-top: -1vh;

}