* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estas son variables que utilizo para los colores que se habían definido.*/
:root {
  --fucsiaOscuro: #d91895;
  --morado: #38195a;
  --naranjaOscuro: #ffa400;
  --naranjaClaro: #ffb633;
  --doradoOscuro: #cc8300;
  --doradoClaro: #d9a404;
}
iframe {
  width: 33.3%;
  height: 315px;
}
html {
  font-family: myFont;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-decoration: underline;
  color: #d9a404;
}

h3 {
  font-size: 2em;
  margin-bottom: 2%;
  color: var(--morado);
}

h4 {
  font-size: 1.5em;
}

p,
a {
  font-size: 1em;
}

body {
  font-size: 18px;
  /*Esto permite que se vea en los bordes la imagen de fondo.*/
  margin: auto;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: var(--morado) url("../images/fondo\ claro.png") no-repeat center
    center;
  background-size: 100% 100%;
  color: white;
  border-block-style: solid;
  border-block-color: pink;
  font-family: myFont;
}
.header h1 {
  color: var(--fucsiaOscuro);
}

.header p {
  color: var(--fucsiaOscuro);
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/*Aquí establezco la imágen de fondo de la página.*/
html {
  background-image: url("../images/fondo claro.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}

@font-face {
  font-family: myFont;
  src: url(../fonts/Roboto-Medium.ttf);
}

html {
  font-family: myFont;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--morado);
}

li {
  float: left;
}

/*dropbtn es el desplegable.*/
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  font-size: 2.5vh;
  margin: 0;
  text-decoration: none;
}

li #a-start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: var(--fucsiaOscuro);
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--fucsiaOscuro);
  width: 100%;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--fucsiaOscuro);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--morado);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contact {
  margin-top: 1em;

  color: var(--morado);
}

form {
  background-color: var(--doradoClaro);
  border: 1px solid var(--fucsiaOscuro);
  padding: 8px;
  color: var(--morado);
  width: 100%;
}

label input,
textarea {
  margin: 5px 0;
}

form input,
textarea[placeholder] {
  color: white;
}

input,
textarea {
  background-color: var(--fucsiaOscuro);
  border: 1px solid var(--naranjaClaro);
  border-radius: 3px;
  width: 100%;
  padding: 12px 20px;
  color: #38195a;
  font-size: 1em;
  box-sizing: border-box;
  outline: none;
}

textarea {
  height: 150px;
  resize: none;
  font-family: myFont;
}

.description {
  margin-bottom: 2em;
  color: var(--fucsiaOscuro);
  text-align: justify;
}

button {
  margin: 1vh;
  padding: 0.5vh;
  text-decoration: none;
  font-size: 1em;
  color: var(--morado);
  cursor: pointer;
  border: 1px solid var(--fucsiaOscuro);
  border-radius: 3px;
}

footer {
  margin-top: 2em;
  padding: 1.5em;
  text-align: center;
  background: var(--morado);
  color: white;
  display: flex;
  justify-content: space-around; /* Distribuir las secciones de manera uniforme */
  flex-wrap: wrap; /* Permitir el ajuste de varias secciones en pantallas pequeñas */
}

/* Estilos para las secciones del footer */
.footer-section {
  flex: 1; /* Ocupar el mismo espacio en la fila */
  margin: 0 auto; /* Agregar un margen entre las secciones */
}

/* Estilos para los enlaces de navegación en el footer */
.footer-nav {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Alinear los enlaces a la izquierda */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav li {
  margin-bottom: 0.5em; /* Espaciado entre elementos de la lista */
}

/* Estilos para los iconos sociales */
/* .social-icons img {
  width: 30px;
  margin: 0 5px;
} */

.footer-section .footer-social-icons img {
  width: 7vh;
  display: inline;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.footer-section .footer-social-icons p {
  margin: 0.3vw;
  letter-spacing: 0.2vw;
}

.footer-section img {
  width: 15vh;
}

footer #pokeApi #pokeName {
  font-size: larger;
}

footer #pokeApi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div h2 {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 600px) {
  ul {
    opacity: 90%; /*Permite la transparencia.*/
  }

  ul li {
    float: none;
    text-align: center;
  }

  li.dropdown {
    display: block;
  }

  .dropdown-content {
    min-width: 90%;
  }

  li a,
  .dropbtn {
    padding: 2vw;
  }
}


.profe {
  display: grid;
  place-items: center;
  text-decoration: none;
  height: 100px;
  background-color: #d9a404;
  color: #38195a;
  border: 10px double #38195a;
}

.secciones {
  display: inline-block;
  width: 33%;
  height: 20px;
  background-color: #38195a;
  text-align: center;
  color: #ffb633;
  text-decoration: none;
  margin-bottom: 20px
}
#botoninicio {
  display: flex;
  ;
  height: 32px;
  text-decoration: none;
  justify-content: center}

  .dale {
    display: flex;
    position: fixed;
    bottom: 1px;
    right: 1px;
  }