*{margin: 0;padding: 0}




h1{display: inline-block; width: 100%;height: 2em;text-align: center;background-color: #ffb633;color:#38195a; margin-bottom: 15px; animation-name: animacion;
  animation-duration: 10s;animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

@keyframes animacion {from {background-color: #38195a;} to {background-color: #d9a404;} 
}


            
table{color: white;height: 300px;text-align: center;width: 75%;}
th{width: 33%;text-align: center;background-color: #38195a;}
tr{background-color:#ffa400;border: 20px solid black;}
tr:nth-child(2n){background-color: #cc8300;}

#botoninicio{display: inline-block;position: fixed; bottom: 20px;right: 20px;background-color: #38195a;color: #ffb633;text-align: center;height: 30px;width: 30px;}


