* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../fonts/Roboto-Bold.ttf'),
    /* Agrega más formatos si es necesario, dependiendo de la variedad de formatos de tu fuente. */
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #38195a  url('../images/fondo\ claro.png')  no-repeat center center;
    background-size: 100% 100%;
    color: white;
    border-block-style: solid;
    border-block-color: pink;
  }
  .header h1{
    font-family: 'MiFuentePersonalizada';color: #d91895;
  }
  
  .header p{
    font-family: 'MiFuentePersonalizada';color: #d91895;
  }

  #weather-info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #38195a;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #d91895;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  .mi-seccion {
      display: flex;
      flex-direction: row;
      font-size: 30px;
      text-align: center;
  }
  .mi-seccion img {
      max-width: 100%;
      height: auto;
  }
  
  .mi-seccion-left {
      padding: 10px;
      /*flex: 50%;
      display: flex;
      flex-direction: column;*/
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
  }
  .mi-seccion-left p{
    font-family: 'MiFuentePersonalizada';font-size: 12px;
  }
  
  .mi-seccion-center {
      padding: 10px;
      /*flex: 50%;
      display: flex;
      flex-direction: column;*/
      align-items: center;
      text-align: center;
      background-color: #d91895;
      display: flex;
      flex-wrap: wrap;
  }
  
  .mi-seccion-center p{
    font-family: 'MiFuentePersonalizada';font-size: 12px;
  }
  .mi-seccion-right {
      padding: 10px;
      /*flex: 50%;
      display: flex;
      flex-direction: column;*/
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
  }
  .mi-seccion-right p{
    font-family: 'MiFuentePersonalizada';font-size: 12px;
  }
  /* Footer */
  /*.footer {
    padding: 20px;
    text-align: center;
    background: #38195a;
  }*/

  /* Estilos generales del footer */
/* Estilos generales del footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #38195a;
  color: white;
  display: flex;
  justify-content: space-around; /* Distribuir las secciones de manera uniforme */
  flex-wrap: wrap; /* Permitir el ajuste de varias secciones en pantallas pequeñas */
}

/* Estilos para las secciones del footer */
.footer-section {
  flex: 1; /* Ocupar el mismo espacio en la fila */
  margin: 0 10px; /* Agregar un margen entre las secciones */
}

/* Estilos para los enlaces de navegación en el footer */
.footer-nav {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Alinear los enlaces a la izquierda */
}

.footer-nav li {
  margin-bottom: 8px; /* Espaciado entre elementos de la lista */
}

/* Estilos para los iconos sociales */
.social-icons img {
  width: 30px;
  margin: 0 5px;
}

/* Estilos para el icono especial */
.footer-section img {
  width: 50px;
  height: 50px;
}

  .row img {
      max-width: 100%;
      height: auto;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar, .mi-seccion-left, .mi-seccion-right, .mi-seccion-center {   
      flex-direction: column;
    }
  }