*{   margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 10px;*/
    background-color: #38195a;
}

.logo img {
    max-width: 150px;
    height: 60px;
    width: 60px;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 200px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.section0 {
    background-color: #38195a;
    color: #fff;
    text-align: center;
    border-color: #ddd;
    margin-top: 0.4px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.mi-seccion {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.mi-seccion img {
    width: 15%;
    height: 15%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content img {
    max-width: 50%;
    height: auto;
}

.content .text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.content .textb {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.foot{
    background-color: #38195a;
    color: #fff;
    text-align: center;
}