*{   margin: 0;
    padding: 0;
}
header {
    background-color: #38195a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 150px;
    height: 60px;
    width: 60px;
    padding-left: 10px;
    transform: rotate(15deg);
}

.navbar {
    flex-grow: 1;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.navbar a:hover {
    background-color: #d91895;
}

/*.mi-seccion-left {
    padding: 10px;
    flex: 50%;
}*/
.mi-seccion {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.mi-seccion-left {
    padding: 10px;
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}


.mi-seccion-center {
    padding: 10px;
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    background-color: #d91895;
}

.mi-seccion-right {
    padding: 10px;
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}

  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
    flex-direction: column;
    }
}
.section0 {
    background-color: #38195a;
    color: #fff;
    text-align: center;
    border-color: #ddd;
    margin-top: 0.4px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


/*.mi-seccion img {
    width: 15%;
    height: 15%;
    object-fit: cover;
}*/
.mi-seccion img {
    max-width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content img {
    max-width: 50%;
    height: auto;
}

.content .text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.content .textb {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.foot{
    background-color: #38195a;
    color: #fff;
    text-align: center;
}