* {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('../fonts/Roboto-Bold.ttf'),
    /* Agrega más formatos si es necesario, dependiendo de la variedad de formatos de tu fuente. */
  }
  
  /* Estas son variables que utilizo para los colores que se habían definido.*/
:root {
  --fucsiaOscuro: #D91895;
  --morado: #38195A;
  --naranjaOscuro: #ffa400;
  --naranjaClaro: #FFB633;
  --doradoOscuro: #cc8300;
  --doradoClaro: #D9A404;
}
  /* Style the body */
  body {
    font-family: Arial; /*Modificarloooooooo*/
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 60px;
    text-align: center;
    background: #38195a  url('../images/fondo\ claro.png')  no-repeat center center;
    background-size: 100% 100%;
    color: white;
    border-block-style: solid;
    /*border-block-color: pink;*/
  }
  .header h1{
    font-family: 'MiFuentePersonalizada';color: #d91895;
  }
  
  .header p{
    font-family: 'MiFuentePersonalizada';color: #d91895;
  }

  #weather-info {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /*Aquí comienza el css para la barra de navegación.*/
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: var(--morado);
}


li {
  float: left;
}

/*dropbtn es el desplegable.*/
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1vh 1vw;
  font-size: 2.5vh;
  margin: 0;
  text-decoration: none;
}

li #a-start {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: var(--fucsiaOscuro);
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--fucsiaOscuro);
  width: 100%;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--fucsiaOscuro);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--morado);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  ul{
      opacity: 90%; /*Permite la transparencia.*/
  }

  ul li {
      float: none;
      text-align: center;
  }

  li.dropdown {
      display: block;
  }

  .dropdown-content {
      min-width: 90%;
  }

  li a,
  .dropbtn {
      padding: 2vw;
  }
} 
  /* Column container */
  .row {  
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  .mi-seccion {
      display: flex;
      flex-direction: row;
      font-size: 30px;
      text-align: center;
  }
  .mi-seccion img {
      max-width: 100%;
      height: auto;
  }
  
  .mi-seccion-left {
      padding: 10px;
      /*flex: 50%;
      display: flex;
      flex-direction: column;*/
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
  }
  .mi-seccion-left p{
    font-family: 'MiFuentePersonalizada';font-size: 12px;
  }
  
  .mi-seccion-center {
      padding: 10px;
      /*flex: 50%;
      display: flex;
      flex-direction: column;*/
      align-items: center;
      text-align: center;
      background-color: #d91895;
      display: flex;
      flex-wrap: wrap;
  }
  
  .mi-seccion-center p{
    font-family: 'MiFuentePersonalizada';font-size: 12px;
  }
  .mi-seccion-right {
      padding: 10px;
      /*flex: 50%;
      display: flex;
      flex-direction: column;*/
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
  }
  .mi-seccion-right p{
    font-family: 'MiFuentePersonalizada';font-size: 12px;
  }
  /* Footer */
  /*.footer {
    padding: 20px;
    text-align: center;
    background: #38195a;
  }*/

  /* Estilos generales del footer */
/* Estilos generales del footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #38195a;
  color: white;
  display: flex;
  justify-content: space-around; /* Distribuir las secciones de manera uniforme */
  flex-wrap: wrap; /* Permitir el ajuste de varias secciones en pantallas pequeñas */
}

/* Estilos para las secciones del footer */
.footer-section {
  flex: 1; /* Ocupar el mismo espacio en la fila */
  margin: 0 10px; /* Agregar un margen entre las secciones */
}

/* Estilos para los enlaces de navegación en el footer */
.footer-nav {
  list-style-type: none;
  padding: 0;
  text-align: left; /* Alinear los enlaces a la izquierda */
}

.footer-nav li {
  margin-bottom: 8px; /* Espaciado entre elementos de la lista */
}

/* Estilos para los iconos sociales */
.social-icons img {
  width: 30px;
  margin: 0 5px;
}

/* Estilos para el icono especial */
.footer-section img {
  width: 50px;
  height: 50px;
}

  .row img {
      max-width: 100%;
      height: auto;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar, .mi-seccion-left, .mi-seccion-right, .mi-seccion-center {   
      flex-direction: column;
    }
  }