* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estas son variables que utilizo para los colores que se habían definido.*/
:root {
    --fucsiaOscuro: #D91895;
    --morado: #38195A;
    --naranjaOscuro: #ffa400;
    --naranjaClaro: #FFB633;
    --doradoOscuro: #cc8300;
    --doradoClaro: #D9A404;
}

/*Aquí establezco la imágen de fondo de la página.*/
html {
    background-image: url('../images/fondo claro.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}

/*Aquí establezco la fuente linkeandola a la que habíamos propuesto.*/
@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Medium.ttf);
}

html {
    font-family: myFont;
}



h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 2%;
    color: var(--morado);
}

h4 {
    font-size: 1.3em;
}

p,
a {
    font-size: 1em;
}

#spacing {
    width: 90%;
    margin: auto;

}

body {
    font-size: 18px;
    /*Esto permite que se vea en los bordes la imagen de fondo.*/
    margin: auto;

}

header {
    background-color: var(--naranjaClaro);
    /*Aquí muestro como se usa una variable, un color.*/
    text-align: center;
    color: var(--fucsiaOscuro);
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 2vw 2vw 0 0;
    margin-top: 4vw;
}

#username {
    width: 90%;
    margin: auto;
    color: white;
    background-color: var(--naranjaOscuro);
    opacity: 0.75;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: solid 0.5vh white;
    border-bottom: solid 0.5vh white;
    border-radius: 5vh;
    font-size: 1.5em;
}

#certified {
    color: var(--morado);
}

#offered-service {
    padding-top: 3%;
    /*border: solid 1px black;*/
}

.align-center {
    text-align: center;
    margin-bottom: 1.5em;
}

.img-frame img {
    border-radius: 2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 2%;
}

/*Aquí comienza el css para la barra de navegación.*/
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--morado);
}


li {
    float: left;
}

/*dropbtn es el desplegable.*/
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    font-size: 2.5vh;
    margin: 0;
    text-decoration: none;
}

li #a-start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--fucsiaOscuro);
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--fucsiaOscuro);
    width: 100%;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fucsiaOscuro);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--morado);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    ul {
        opacity: 90%;
        /*Permite la transparencia.*/
    }

    ul li {
        float: none;
        text-align: center;
    }

    li.dropdown {
        display: block;
    }

    .dropdown-content {
        min-width: 90%;
    }

    li a,
    .dropbtn {
        padding: 2vw;
    }
}

/*Lo anterior permite la responsividad de la barra de navegación.*/

/*Aquí termina el css para la barra de navegación.*/


.services {
    display: flex;
    flex-flow: row wrap;
    color: white;
    background-color: var(--morado);
    border-radius: 2em;
    margin-bottom: 2em;
}

.service {
    padding: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 50%;
    text-indent: 1em;
}

@media (max-width: 600px) {
    .service {
        flex: 100%;
        padding-left: 1.5em;
    }

    .service h3 {
        text-align: center;
    }
}

.service h3 {
    color: var(--fucsiaOscuro);
    text-align: center;
}


.service p {
    text-align: justify;
}

.unordered-list {
    margin: 2vw;
    list-style-type: none;
}

.unordered-list li {
    padding: 2vw;
}

#why-choose-us .unordered-list {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 2em;
    opacity: 90%;
    padding-top: 3em;
}

#why-choose-us .unordered-list li {
    padding-left: 5em;
    padding-right: 5em;
}


#iframe-location {
    text-align: center;
    padding: 2%;
}

#img-bg {
    opacity: 0.5;
}

#social-networks {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1;
}

.call-to-action {
    background-color: var(--naranjaOscuro);
    font-size: larger;
    margin: 2em;
    padding: 1.5em;
    border: var(--fucsiaOscuro) solid 1.5rem;
    text-indent: 0.5em;
    text-align: justify;
    border-radius: 2vw 2vw 0 0;
}

.call-to-action p {
    padding-bottom: 1.5em;
}

/* Aquí comienzan los estilos del formulario*/

#call-to-action2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 93%;
    font-size: larger;
}


form {
    background-color: var(--naranjaOscuro);
    padding: 1.5em;
    border-radius: 0 0 2em 2em;
    border: var(--fucsiaOscuro) solid 1.5rem;
    margin-bottom: 2em;
}

label input,
textarea {
    margin: 1em 0;
}

form input,
textarea[placeholder] {
    color: white;
}

input,
textarea {
    background-color: var(--fucsiaOscuro);
    border: 1px solid var(--naranjaClaro);
    border-radius: 0.5em;
    width: 100%;
    padding: 1em;
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
}

textarea {
    height: 10em;
    resize: none;
}

.description {
    margin-bottom: 2em;
    text-align: justify;
    text-indent: 0.5em;
}

button {
    margin: 1vh;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 1em;
    color: var(--morado);
    cursor: pointer;
    border: 1px solid var(--fucsiaOscuro);
    border-radius: 0.3em;
}

footer {
    margin-top: 2em;
    padding: 1.5em;
    text-align: center;
    background: var(--morado);
    color: white;
    display: flex;
    justify-content: space-around;
    /* Distribuir las secciones de manera uniforme */
    flex-wrap: wrap;
    /* Permitir el ajuste de varias secciones en pantallas pequeñas */
}

/* Estilos para las secciones del footer */
.footer-section {
    flex: 1;
    /* Ocupar el mismo espacio en la fila */
    margin: 0 auto;
    /* Agregar un margen entre las secciones */
}

/* Estilos para los enlaces de navegación en el footer */
.footer-nav {
    list-style-type: none;
    padding: 0;
    text-align: left;
    /* Alinear los enlaces a la izquierda */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav li {
    margin-bottom: 0.5em;
    /* Espaciado entre elementos de la lista */
}

/* Estilos para los iconos sociales */

.footer-section .footer-social-icons img {
    width: 7vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para el icono especial */
.footer-section img {
    width: 15vh;
}

footer #pokeApi #pokeName {
    font-size: larger;
}