* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fucsiaOscuro: #D91895;
    --morado: #38195A;
    --naranjaOscuro: #ffa400;
    --naranjaClaro: #FFB633;
    --doradoOscuro: #cc8300;
    --doradoClaro: #D9A404;
}

html {
    background-image: url('../images/fondo claro.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Medium.ttf);
}

html {
    font-family: myFont;
}


h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    margin-bottom: 2%;
    color: var(--morado);
}

h4 {
    font-size: 1.5em;
}

p,
a {
    font-size: 1em;
}


body {
    font-size: 18px;
    width: 90%;
    margin: auto;
}

header {
    background-color: var(--naranjaClaro);
    text-align: center;
    color: var(--fucsiaOscuro);
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-radius: 2vw 2vw 0 0;
    margin-top: 4vw;
}

#username {
    width: 90%;
    margin: auto;
    color: white;
    background-color: var(--naranjaOscuro);
    opacity: 0.75;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: solid 0.5vh white;
    border-bottom: solid 0.5vh white;
    border-radius: 5vh;
    font-size: 1.5em;
}

#certified {
    color: var(--morado);
}

#offered-service {
    padding-top: 3%;
    /*border: solid 1px black;*/
}

.align-center {
    text-align: center;
    margin-bottom: 1.5em;
}

.img-frame img {
    border-radius: 2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 2%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: var(--morado);
}


li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.5vw 0.5vw;
    margin: 0;
    text-decoration: none;
}

li #a-start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--fucsiaOscuro);
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--fucsiaOscuro);
    width: 100%;
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--fucsiaOscuro);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--morado);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    ul{
        opacity: 90%;
    }

    ul li {
        float: none;
        text-align: center;
    }

    li.dropdown {
        display: block;
    }

    .dropdown-content {
        min-width: 90%;
    }

    li a,
    .dropbtn {
        padding: 2vw;
    }
}

.services {
    display: flex;
    flex-flow: row wrap;
    color: white;
    background-color: var(--morado);
    border-radius: 2em;
}

.service {
    padding: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 50%;
    text-indent: 1em;
}

@media (max-width: 600px) {
    .service {
        flex: 100%;
        padding-left: 1.5em;
    }

    .service h3 {
        text-align: center;
    }
}

.service h3 {
    color: var(--fucsiaOscuro);
    text-align: center;
}


.service p {
    text-align: justify;
}

.unordered-list {
    margin: 2vw;
    list-style-type: none;
}

.unordered-list li {
    padding: 2vw;
}

#iframe-location {
    text-align: center;
    padding: 2%;
}

footer p {
    opacity: 0.5;
}

#social-networks {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}